/* Player default tapi neon */
audio {
  width: 100%;
  outline: none;
  filter: drop-shadow(0 0 10px #ff004c);
}

audio::-webkit-media-controls-panel {
  background: rgba(20, 20, 20, 0.9);
  border-radius: 8px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
  background-color: #ff004c;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #ff004c;
}

/* Hilangkan tombol download */
audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}
audio::-webkit-media-controls-download-button {
  display: none;
}